//导入normalize.less 进行浏览器样式统一
@import "normalize";
//在normalize 基础上 进行样式重置,添加一些自定义的类
@import "base";

// 引入公共的背景颜色
@import "bgColor";

//设计图尺寸
@design:750;
//基准值  = 设计图尺寸 /10
@base:75rem;




.mmm_container .mmm_header{
    background-color: #f4483e;
    
}

.mmm_main .mmm_content{
    padding: 0;
    position: relative;
    background-color: #f8f8f8;

    .mmm_nav {
        // width: 100%;
        // height: 100%;
        margin-bottom: 10/@base;
        ul{

        overflow: hidden;
        width: 26.67rem;

        li{
            float: left;
            padding: 0 22/@base;
            // width: 16.6%;
            height: 78/@base;
            line-height: 76/@base;
            background-color: #fff;
            text-align: center;
    
            a{  
                display: block;
                // display: inline-block;
               
                font-size: 20/@base;
    
                &.current{
                    border-bottom: 3px solid #e22f32;
                    color: #e22f32;
                    
                }
            }

        }
        }
    }



    .mmm_list {
        
        ul li{
            margin-bottom: 10/@base;
                // display: block;
                background-color: #fff;

                .img_box.left-img {
                    width: 40%;
                    height: 262/@base;
                    background-color: #e22f32;
                   

                    img{
                        
                        height: 262/@base;
                    }
                }

                .text_box.right_info{
                    overflow: hidden;
                    height: 262/@base;
                    // background-color: aqua;
                    padding:10/@base 0 0 12/@base;
                    position: relative;
                    p{
                        margin: 0;
                        height: 60/@base;
                        line-height: 30/@base;
                        font-size: 26/@base;
                        color: #000;
                        &.red{
                            height: 50/@base;
                            line-height: 40/@base;
                            color: #e22f32;
                            font-size: 24/@base;
                         
                           
                            del{
                                 margin-left: 6/@base;
                                font-size: 20/@base;
                                color: #a8b5d2;
                            }
                        }

                    }


                    .bar {
                        padding: 15/@base 0;
                        // width: 162/@base;
                        // height: 22/@base;
                        i{
                            display: inline-block;
                            width: 162/@base;
                            height: 22/@base;
                            line-height: 22/@base;
                            border: 2px solid #fc353a;
                            background-color: #ffb7b7;
                            border-radius: 10/@base;
                            position: relative;
                            font-size: 18/@base;
                            text-align: center;
                            color: #fff;


                            em{
                                display: inline-block;
                                height: 100%;
                                background-color: #fc353a;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-radius: 10/@base;
                            }

                            span{
                                position: relative;
                                // top: 2/base;
                                z-index: 999;
                             
                            }
                        }

                        b{
                            font-size: 20/@base;
                            color: #fc353a;
                            font-weight: normal;
                            margin-left: 27/@base;
                        }
                    }


                    .quan{
                        margin-top: 10/@base;
                        width: 220/@base;
                        height: 40/@base;
                        line-height: 40/@base;
                        border: 1px dashed #ffb7b7;
                        border-radius: 5/@base;
                        text-align: center;
                        position: absolute;
                        bottom: 22/@base;
                       left: 0;
                       overflow: hidden;
                        

                        a{
                            display: block;
                            font-size: 20/@base;
                            color: #fc353a;
                            text-align: center;
                        }
                    }



                    .link{

                        width: 114/@base;
                        height: 40/@base;
                        line-height: 40/@base;
                        position: absolute;
                        right: 10/@base;
                        bottom: 22/@base;
                        border-radius: 5/@base;
                        background-color:#ffb7b7;
                        border: 1px solid #e22f32; 
                        overflow: hidden;
                        a{
                            display: block;
                            font-size: 18/@base;
                            text-align: center;
                        }
                    }
                }
            
        }
    }
}


